<?xml version="1.0"?>
<robot name="panda" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="gripper" default="true" />

    <ros2_control name="panda_hw_interface" type="system">
      <hardware>
        <plugin>robot_hw/RobotHardware</plugin>
      </hardware>
      <joint name="panda_joint1">
        <command_interface name="position">
          <param name="min">-2.897246558310587</param>
          <param name="max">2.897246558310587</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.617993877991494</param>
          <param name="max">2.617993877991494</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-87</param>
          <param name="max">87</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="panda_joint2">
        <command_interface name="position">
          <param name="min">-1.762782544514273</param>
          <param name="max">1.762782544514273</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.617993877991494</param>
          <param name="max">2.617993877991494</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-87</param>
          <param name="max">87</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="panda_joint3">
        <command_interface name="position">
          <param name="min">-2.897246558310587</param>
          <param name="max">2.897246558310587</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.617993877991494</param>
          <param name="max">2.617993877991494</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-87</param>
          <param name="max">87</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="panda_joint4">
        <command_interface name="position">
          <param name="min">-3.07177948351002</param>
          <param name="max">-0.06981317007977318</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.617993877991494</param>
          <param name="max">2.617993877991494</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-87</param>
          <param name="max">87</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="panda_joint5">
        <command_interface name="position">
          <param name="min">-2.897246558310587</param>
          <param name="max">2.897246558310587</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-3.141592653589793</param>
          <param name="max">3.141592653589793</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-12</param>
          <param name="max">12</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="panda_joint6">
        <command_interface name="position">
          <param name="min">-0.0174532925199433</param>
          <param name="max">3.752457891787809</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-3.141592653589793</param>
          <param name="max">3.141592653589793</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-12</param>
          <param name="max">12</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="panda_joint7">
        <command_interface name="position">
          <param name="min">-2.897246558310587</param>
          <param name="max">2.897246558310587</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-3.141592653589793</param>
          <param name="max">3.141592653589793</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-12</param>
          <param name="max">12</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <xacro:if value="$(arg gripper)">
        <joint name="panda_finger_joint1">
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>
        <joint name="panda_finger_joint2">
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>
      </xacro:if>
    </ros2_control>

</robot>

